This study guide should reinforce and provide practice for all of the concepts you have seen in Unit 1 Sprint 1. There are a mix of written questions and coding exercises, both are equally important to prepare you for the sprint challenge as well as to be able to speak on these topics comfortably in interviews and on the job.

If you get stuck or are unsure of something remember the 20 minute rule. If that doesn't help, then research a solution with google and stackoverflow. Only once you have exausted these methods should you turn to your track team and mentor - they won't be there on your SC or during an interview. That being said, don't hesitate to ask for help if you truly are stuck.

Have fun studying!

## Questions

When completing this section, try to limit your answers to 2-3 sentences max and use plain english as much as possible. It's very easy to hide incomplete knowledge and undertanding behind fancy or technical words, so imagine you are explaining these things to a non-technical interviewer.

1. What is a Data Frame?
```
Data Frame is data structure that stores data in form of rows and columns
```

2. What is Pandas?
```
Pandas is an open source library that is used for data analysis and manipulation 
```

3. How do you check for missing values?
```
dataframename.isnul()
```

4. What is numpy?
```
Numpy is python library that is used for working with library
5. Explain the difference between tidy and wide (summary) data.
```
Tidy data is type of data frame where each column is a variable and each row is an observation and wide data has many columns
```

6. Explain the difference between categorical and quantitative data.
```
Categorical data is a type of data that exist in different group, they include norminal, ordinal data while quantitative data represents quantity, e.g. weight, height
```

7. For categorical variables, explain the difference between an ordinal, nominal or identifier variable.
```
ordinal data are categorical data that is set in order, nominal data is used to label data into classes, e.g white, blue, male, female, identifier variable is type of data that is unique for each record in a data frame 
```

8. For quantitative variables, explain the difference between a discrete and a continuous variable.
```
Discrete variable takes only a certain type of number and continuous variables take continuous numbers
```

9. Explain the differnece between an inner, outer, left and right merge.
```
the inner merge is an intersectiopn of two tables, outer is a union of tables, left join merges on a specified left-hand of the data frame while right join merges on a specified right hand of a data frame
```

10. Explain the differnece between merging and concatenating data.
```
Merging is more structured and solves problem of overlpping while concat just joins table without proper structuring
```

11. Explain the purpose of a function.
```
your answer
```

12. Explain what .apply() does.
```
your answer
```

13. Explain what .strip() does.
```
your answer
```

14. Explain what .strip('%') does.
```
your answer
```

15. Explain what .split('-') does.
```
your answer
```

16. Give an example of a misleading figure and how you would fix it.
```
your answer
```

17. Describe the important fetures of the distribution of a quantitative variable.
```
your answer
```

## Coding problems

Import pandas, numpy, matplotlib, etc.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Import a dataset from a link

In [2]:
url_data = 'https://www.kaggle.com/brendan45774/gender-submisson'

Import a dataset from a .csv file saved on your personal computer.

In [9]:
from google.colab import files
uploaded = files.upload()

Saving games.csv to games.csv

Import matplotlib

In [10]:
import matplotlib

Loading and viewing a Dataframe

In [12]:
import io
df = pd.read_csv(io.BytesIO(uploaded['games.csv']))
print(df.shape)
print(df.head())

(20058, 16)
         id  rated  ...                            opening_name  opening_ply
0  TZJHLljE  False  ...        Slav Defense: Exchange Variation            5
1  l1NXvwaE   True  ...  Nimzowitsch Defense: Kennedy Variation            4
2  mIICvQHh   True  ...   King's Pawn Game: Leonardis Variation            3
3  kWKvrqYL   True  ...  Queen's Pawn Game: Zukertort Variation            3
4  9tXo1AUZ   True  ...                        Philidor Defense            5

[5 rows x 16 columns]

Using the loaded DataFrame to create and display a plot or graph.

In [ ]:
ax.

Print the first five rows of a dataset

In [14]:
df.head(2)

         id  rated  ...                            opening_name  opening_ply
0  TZJHLljE  False  ...        Slav Defense: Exchange Variation            5
1  l1NXvwaE   True  ...  Nimzowitsch Defense: Kennedy Variation            4

[2 rows x 16 columns]

Print the last five rows of a dataset

In [15]:
df.tail()

             id  rated  ...                     opening_name  opening_ply
20053  EfqH7VVH   True  ...                    Dutch Defense            2
20054  WSJDhbPl   True  ...                     Queen's Pawn            2
20055  yrAas0Kj   True  ...  Queen's Pawn Game: Mason Attack            3
20056  b0v4tRyF   True  ...                     Pirc Defense            4
20057  N8G2JHGG   True  ...  Queen's Pawn Game: Mason Attack            3

[5 rows x 16 columns]

Print a single variable in a dataset

In [ ]:
df['']

Drop rows from a dataset

Find the dimensions of a dataframe

Identify the data types for each column in a dataframe

Display summary statstics for a dataset.

Create a new variable that is a linear combination of other variables.

Create a new variable using the .apply() function.

Create a new variable using if-then statments with .loc

Add and and or statements to your if-then statement with .loc

Convert a date to a datetime format.

Make a histogram

Make a box plot

Make a bar plot

Make a line plot

Print axis and figure legends

Identify missing data in a dataframe.